apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: flux-system
spec:
  chart:
    spec:
      chart: kube-prometheus-stack
      sourceRef:
        kind: HelmRepository
        name: prometheus
      version: "79.5.0"

  values:
    grafana:
      admin:
        existingSecret: grafana-admin-user
        userKey: admin-user
        passwordKey: admin-password

      route:
        main:
          enabled: true
          parentRefs:
          - name: traefik-gateway
            namespace: kube-system

          hostnames:
          - "grafana.masterloft.marcel-lambacher.de"

  interval: 10m
  releaseName: prometheus
  targetNamespace: prometheus
  install:
    crds: Create
  upgrade:
    crds: CreateReplace